<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Node/Angular Assignment</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-report" routerLinkActive="active">Create New Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-reports" routerLinkActive="active">View Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
    </ul>
</nav>