<form>
    <div class="form-column">
        <div class="form-group col-md-4 col-lg-3">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" id="inputUsername">
        </div>
        <div class="form-group col-md-4 col-lg-3">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary ml-3">Sign in</button>
    </div>
  </form>
