<form class="p-3" (ngSubmit)="attemptLogin(loginForm)" #loginForm="ngForm">
    <div class="form-column container-md">
        <div class="form-group mx-auto col-sm-5 col-md-4">
          <label for="username" class="col-form-label">Username</label>
          <input 
          required
          type="text" 
          class="form-control" 
          id="inputUsername"
          [(ngModel)]="loginModel.username"
          (onkeyup)="updateUsername($event)"
          name="username"
          >
        </div>
        <div class="form-group mx-auto col-sm-5 col-md-4">
          <label for="password" class="col-form-label">Password</label>
          <input 
          required
          type="password" 
          class="form-control" 
          id="inputPassword"
          [(ngModel)]="loginModel.password"
          (onkeyup)="updatePassword($event)"
          name="password"
          >
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
