<form class="p-3">
    <div class="form-column">
        <div class="form-group mx-auto col-md-4 col-lg-3">
          <label for="inputUsername">Username</label>
          <input 
          type="text" 
          class="form-control" 
          id="inputUsername"
          #usernameInput
          (onkeyup)="updateUsername($event)"
          >
        </div>
        <div class="form-group mx-auto col-md-4 col-lg-3">
          <label for="inputPassword">Password</label>
          <input 
          type="password" 
          class="form-control" 
          id="inputPassword"
          #passwordInput
          (onkeyup)="updatePassword($event)"
          >
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
